<%= turbo_frame_tag dom_id @post do %>
  <div class="w-full bg-white rounded-md p-4 justify-start">
    <h1 class="text-lg font-bold text-4xl">
      <%= @post.title %>
    </h1>
    <p class="my-5 inline-block">
      <%= @post.content %>
    </p>

    <%= link_to 'Edit this post', edit_post_path(@post), class: "mt-2 rounded-lg py-3 px-5 bg-green-500 inline-block font-medium" %>
      <%= link_to "Back to posts", posts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-300 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Delete this post', post_path(@post), method: :delete, data: { controller: 'confirm', confirm_message_value: 'Deseja remover ?', action: 'click->confirm#dialog' }, class: "mt-2 rounded-lg py-3 px-5 bg-red-500 font-medium" %>
    </div>
</div>

<% end %>
